<!doctype html>
<html lang="ru">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

    <title>Lessons | {% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
<div class="page-content">

    <div class="header">
        <div class="container">
            <div class="header__box">
                <nav class="header__box-links nav">
                    <a href="{{ url_for('index') }}" class="nav__link">главная</a>
                    <div class="nav__group">
                        <a href="{{ url_for('workers') }}" class="nav__link">работники</a>
                        <a href="{{ url_for('manage') }}" class="nav__link">новый работник</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>


    <div class="page-main">
        <div class="main">
            <div class="container box">
                <h1 class="main__title">Работники</h1>
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="result result-box hidden" id="result">
        <h2 class="result__title" id="resultTitle">Lorem ipsum dolor.</h2>
        <p class="result__text" id="resultText">Lorem ipsum dolor sit amet.</p>
        <button class="result__close" id="close">OK</button>
    </div>


    <div class="footer">
        <div class="container footer__content">
            {% block footer %}
            <p class="footer__text">&copy; NoCopyright by <a class="link footer__link" href="{{ url_for('index') }}">OOP Lessons</a>
            </p>.
            {% endblock %}
        </div>
    </div>
</div>
</body>

</html>