{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block head %}
{{ super() }}
<script defer src="{{ url_for('static', filename='js/edit.js') }}"></script>
{% endblock %}

{% block content %}
<input type="hidden" name="emp_id" id="emp_id" value="{{emp_id}}">
<div class="employee">
    <h2 class="employee__title">Редактирование</h2>


    <div class="manage__box-input">
        <label class="manage__input-label" for="name">Имя:</label>
        <input class="manage__input-field" type="text" name="name" id="name" autocomplete="off">
    </div>

    <div class="manage__box-input">
        <label class="manage__input-label" for="last_name">Фамилия:</label>
        <input class="manage__input-field" type="text" name="name" id="last_name" autocomplete="off">
    </div>

    <div class="manage__box-input">
        <label class="manage__input-label" for="passport">Паспорт:</label>
        <input class="manage__input-field" type="number" name="name" id="passport" autocomplete="off" min="0">
    </div>

    <div class="manage__box-input">
        <label class="manage__input-label" for="phone">Телефон:</label>
        <input class="manage__input-field" type="number" name="name" id="phone" autocomplete="off" min="0">
    </div>

    <div class="manage__box-input">
        <label class="manage__input-label" for="salary">Зарплата:</label>
        <input class="manage__input-field" type="number" name="name" id="salary" autocomplete="off" min="0">
    </div>

    <div class="manage__box-input">
        <label class="manage__input-label" for="cabinet">Кабинет:</label>
        <input class="manage__input-field" type="number" name="name" id="cabinet" autocomplete="off" min="0">
    </div>

    <div class="button-box">
        <button id="btnAdd" class="manage__send">Обновить информацию</button>
        <button id="btnRes" class="manage__send">Отменить</button>

    </div>
    <button id="btnDel" class="manage__send">Удалить работника</button>


</div>
{% endblock %}