*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: $dark-color;
}

a {
  transition: all .2s;
}

.page {
  &-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  &-main {
    flex-grow: 1;
    padding-bottom: 50px;
  }
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 12px 23px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .2s;
  &:hover {
    background-color: $gray;
    color: $white;
    outline: 1px solid $blue-dark;
  }
  &:active {
    outline: 1px solid $blue;
  }
}
.global {
  padding: 20px 0;
  margin-bottom: 20px;
  color: $white;
  border-bottom: 2px solid $gray;
  &__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
  }
  &__list {
    padding-left: 15px;
    li {
      margin-bottom: 10px;
    }
  }
}