
.header {
  margin-bottom: 50px;
  padding: 15px 0;
  background-color: $dark-gray;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    display: inline-block;
    padding: 5px;
    border-bottom: 1px solid transparent;
    text-transform: uppercase;

    &:hover {
      border-bottom: 1px solid $white;
    }
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
}
