@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$dark_font: rgb(40, 40, 40);


* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: sticky;
  top: 0;
  background-color: lightgrey;
  font-family: 'Oswald', sans-serif;
  min-height: 2.75rem;
  padding-top: 10px;
}

.nav-wrapper {
  margin: 0 auto;
  max-width: 1075px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  &__item {
    text-decoration: none;
    text-transform: uppercase;
    color: $dark_font;
    font-size: 0.8rem;
    display: inline-block;
    border: 1px solid $dark_font;
    border-radius: 5px;
    padding: 5px;
    margin-right: 1rem;
  }
  &__item:last-child {
    margin-right: 0;
    margin-left: auto;
  }
  &__item:hover {
    background-color: $dark-font;
    color: lightgrey;
  }
}

.main {
  flex: 1;
  margin-bottom: 20px;
  &__header {
    text-align: center;
    margin-bottom: 20px;
    &__title {
      font-size: 48px;
      font-weight: bolder;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.footer {
  box-sizing: border-box;
  min-height: 150px;
  color: rgb(222, 222, 222);
  background-color: rgb(33, 33, 33);
  padding: 20px 60px;
  &__content {
    padding-right: 20px;
  }
  &__link {
    text-decoration: none;
    color: aquamarine;
  }
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  display: flex;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid $dark_font;
  border-radius: 5px;
  min-width: 475px;
  min-height: 250px;
  margin: 10px;
  transition: box-shadow 1s, background-color .5s;
  &__image {
    max-width: 200px;
    max-height: 200px;
    margin-right: 10px;
    &__img {
      width: 100%;
    }
  }
  &__content {
    min-width: 200px;
    &__header {
      font-size: 1.2rem;
      color: rgb(20, 20, 20);
      text-transform: capitalize;
      margin-bottom: 10px;
    }
    &__text{
      color: rgb(60, 60, 60);
      font-size: 0.9rem;
      font-weight: lighter;
      margin-bottom: 0.5rem;
    }
    &__price{
      color: $dark-font;
      font-size: 1rem;
      font-weight: bold;
    }
  }
}

.card:hover {
  background: linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(230,230,230,0.6) 100%);
  -webkit-box-shadow: 0px 15px 20px -8px rgba(34, 60, 80, 0.55);
  -moz-box-shadow: 0px 15px 20px -8px rgba(34, 60, 80, 0.55);
  box-shadow: 0px 15px 20px -8px rgba(34, 60, 80, 0.55);
}
.upload {
  &__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
  }
  &__button {
    text-align: center;
    margin-bottom: 10px;
  }
}
#submit {
  padding: 5px 40px;
}
input[type="checkbox"] {

}
.mega {
  &-box {
    display: none;
    position: absolute;
    gap: 5px;
    background-color: #f2f2f2;
    padding: 15px;

  }
  &__opener {
    position: relative;
  }
  &__opener:checked~&-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__label {
    display: block;
    text-transform: uppercase;
    color: $dark_font;
    font-size: 0.8rem;
    border: 1px solid $dark_font;
    border-radius: 5px;
    padding: 5px;
    &:last-of-type {
      margin-bottom: 15px;
    }
  }
  &__item {
    appearance: none;
  }
  &__item:checked+&__label{
    background-color: $dark_font;
    color: #f2f2f2;
  }

  &__submit {
    display: block;
    margin: 0 auto;
    padding: 5px;
    text-transform: capitalize;
  }
}