.header {
  height: 5rem;
  background-color: $gray-dark;
  &__box {
    padding: 1rem 0;
    &-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.nav{
  &__link {
    display: inline-block;
    padding: 0.4rem;
    color: $white;
    border: 1px solid $gray;
    text-decoration: none;
    @include txt-thin(1.1rem);
    transition: color .2s, border .2s;
    &:hover {
      border: 1px solid $white;
    }
    &:active {
      color: $blue;
    }

    &:not(:last-of-type) {
      margin-right: 1.5rem;
    }
  }
}