.manage {
  padding: 1.5rem 2rem;
  &__box {
    &-input {
      margin: 1.5rem auto;
      max-width: 675px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px dotted $blue-dark;
      &:last-of-type {
        margin-bottom: 2rem;
      }
    }
  }

  &__input {
    &-label {
      @include txt-thin(1.4rem);
    }

    &-field {
      width: 60%;
      padding: .2rem;
      @include txt-thin(1.6rem);
    }
  }

  &__title {
    margin-bottom: 2rem;
    text-align: center;
    @include txt-norm(2.1rem);
    text-transform: uppercase;
  }

  &__send {
    display: block;
    margin: 0 auto;
    padding: .5rem 3rem;
    @include txt-norm(2rem);
  }
}

input[type="number"] {
  text-align: right;
}

